<!--
@license
Copyright (c) 2016 Abdón Rodríguez Davila (@abdonrd). All rights reserved.
This code may only be used under the MIT style license found at https://abdonrd.github.io/LICENSE.txt
-->

<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="moment-import.html">

<!--
Web Component (with Polymer) wrapper for the [moment](https://github.com/moment/moment) library.

Examples:

    <moment-element output="{{outputA}}">[[outputA]]</moment-element>

    <moment-element datetime="1991-12-31" output="{{outputB}}"></moment-element>
    <div>[[outputB]]</div>

@demo demo/index.html
-->

<dom-module id="moment-element">
  <template>
    <style>
      :host {
        display: inline;
      }
    </style>
      <span>[[output]]</span>
    <slot></slot>
  </template>

  <script>
    Polymer({
      is: 'moment-element',

      properties: {
        /**
         * The input datetime. If don't set the datetime, the datetime will be now.
         * For consistent results, parsing anything other than ISO 8601 strings
         * with the `inputFormat` property. More information in [moment String](http://momentjs.com/docs/#/parsing/string/).
         */
        datetime: {
          type: String,
          value: function() {
            return new Date();
          }
        },

        /**
         * The datetime input format. An string using the
         * [moment String + Format](http://momentjs.com/docs/#/parsing/string-format/).
         */
        inputFormat: {
          type: String,
          value: ''
        },

        /**
         * The datetime output format. Options are 'now' or datetime using the
         * [moment Format](http://momentjs.com/docs/#/displaying/format/).
         */
        outputFormat: {
          type: String,
          value: ''
        },

        /**
         * Relative time using [moment time from now](http://momentjs.com/docs/#/displaying/fromnow/)
         * or [moment Time from datetime](http://momentjs.com/docs/#/displaying/from/).
         */
        from: {
          type: String,
          value: ''
        },

        /**
         * Relative time using [moment Time to now](http://momentjs.com/docs/#/displaying/tonow/)
         * or [moment Time to datetime](http://momentjs.com/docs/#/displaying/to/).
         */
        to: {
          type: String,
          value: ''
        },

        /**
         * The output datetime.
         */
        output: {
          type: String,
          notify: true
        },

        /**
         * Stores the moment object
         * @private
         */
        __moment: {
          type: Object,
          computed: '_computeMoment(datetime, inputFormat)'
        }
      },

      observers: [
        '_computeOutput(__moment, outputFormat, from, to)'
      ],

      _computeMoment: function (datetime, inputFormat) {
        return inputFormat ? moment(datetime, inputFormat) : moment(datetime);
      },

      getMoment: function() {
        return this.__moment;
      },

      /**
       * Recomputes the output.
       */
      update: function() {
        this._computeOutput(
          this.__moment, this.outputFormat, this.from, this.to
        );
      },

      _computeOutput: function(_moment, outputFormat, from, to) {
        var output;
        if (outputFormat) {
          output = _moment.format(outputFormat);
        } else if (from) {
          output = from === 'now' ? _moment.fromNow() : _moment.from(moment(from));
        } else if (to) {
          output = to === 'now' ? _moment.toNow() : _moment.to(moment(to));
        } else {
          output = _moment.toString();
        }
        
        this.set('output', output);
      }
    });
  </script>
</dom-module>
