﻿<link rel="import" href="/sys/puppet-redirect/puppet-redirect.html" />
<link rel="import" href="/sys/moment-element/moment-element.html">
<style>
    [hidden]{
        display:none;
    }
 
   
    .fa-caret-up, [expanded] .fa-caret-down {
        display: none;
    }
    .fa-caret-down, [expanded] .fa-caret-up {
        display: inline-block;
    }
    .unitrow {
        font-size:12px;
    }
    .checkout-table td, TR {
        border-left:0 !important;
        border-right:0 !important;
    }
    .checkout-table .checkboxcol {
        width:50px;
        vertical-align:middle;
    }
</style>



<template>
    
        <template is="dom-bind">
            <h4>New Report</h4>

            <div class="form-group">
                <label>Report Name</label>
                <input value="{{model.ReportName$::change}}" class="form-control" type="text" />
            </div>

            <p>Select timeunits to checkout.</p>

            <table id="checkouttable" class="checkout-table table">
                <tbody>
                    <template is="dom-repeat" items="{{model.Customers}}" as="customer">
                        <tr data-key$="[[customer.Customer.Key]]">
                            <td on-click="toggle"  colspan="3">
                                <h4>{{customer.Customer.Name}} <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></h4>

                                
                            </td>
                            <td class="text-right">
                                <h4>
                                    {{customer.Hours}}h
                                </h4> 

                            </td>
                            <td class="checkboxcol">
                                <input type="checkbox" checked="{{customer.CheckOut$::change}}">

                            </td>
                        </tr>
                        <template is="dom-repeat" items="{{customer.Activities}}" as="activity">
                            <tr hidden  data-key$="[[activity.Activity.Key]]"  data-parent$="[[customer.Customer.Key]]">
                                <td on-click="toggle" style="padding-left:20px;" colspan="3">

                                    {{activity.Activity.Name}} <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i>

                                    
                                </td>
                                <td  class="text-right">
                                    {{activity.Hours}}h


                                </td>
                                <td>
                                    <input type="checkbox" checked="{{activity.CheckOut$::change}}">

                                </td>
                            </tr>
                            <template is="dom-repeat" items="{{activity.Units}}">
                                <tr class="unitrow" hidden data-parent$="[[activity.Activity.Key]]">


                                    <td style="padding-left:40px;" colspan="3">
                                        <moment-element datetime="{{item.TimeStamp}}" output-format="YYYY-MM-DD"></moment-element>
                                        - {{item.OwnerFullName}}, {{item.Comment}}
                                    </td>

                                    <td class="text-right">
                                        {{item.Hours}}h
                                    </td>
                                    <td>
                                        <input type="checkbox" checked="{{item.CheckOut$::change}}">

                                    </td>
                                </tr>
                            </template>
                        </template>
                    </template>
                </tbody>
            </table>

            <button class="btn btn-primary" value="{{model.CheckOutClick$::click}}" onmousedown="++this.value">Checkout</button>



            <link is="puppet-redirect" history url="{{model.RedirectUrl$}}" />
        </template>
    
    <script>

         var script = document._currentScript || document.currentScript;
         var template = script.previousElementSibling;
         template.toggle = function (e) {

             var item = Polymer.dom(e.currentTarget).parentNode;
             toggleExpand(this.$.checkouttable, item);
             
         };
         var toggleExpand = function(table, item, hide){

             var key = item.getAttribute("data-key");
             var expanded = !(item.hasAttribute("expanded") || hide);
             if (expanded) {
                 item.setAttribute("expanded", "");
             } else {
                 item.removeAttribute("expanded");
                 
             }
             
             var items = Polymer.dom(table).querySelectorAll('[data-parent=' + key + ']');
             for (var i = 0; i < items.length; i++) {
                 if (expanded) {
                     items[i].removeAttribute("hidden");
                 } else {
                     if (items[i].hasAttribute("data-key")) {
                         //console.log("hide children for", items[i].getAttribute("data-key"));
                         toggleExpand(table, items[i], true);
                     }
                     items[i].setAttribute("hidden", "");
                 }
             }

         }
        
    </script>
</template >