﻿<link rel="import" href="/sys/puppet-redirect/puppet-redirect.html" />
<style>
    tfoot td {
        background-color:#eee;
    }
</style>
<template>
    <template is="dom-bind">
        <button class="pull-right btn btn-primary" value="{{model.SaveClick$::click}}" onmousedown="++this.value">Save</button>
        <h4>Edit Customer</h4> 
        <div class="form-group">
            <label>Name:</label>
            <input value="{{model.Name$::input}}" class="form-control" />
        </div>
        
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Limit Timentry to the following usergroups. Leave empty to be available for all users.</th>
                    

                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Groups}}">
                    <tr>
                        <td class="useradmin-grid__cell">
                            {{item.SystemUserGroup.Name}}
                        </td>
                        <td class="useradmin-grid__cell">
                            <button class="btn btn-default btn-xs" onclick="++this.value;" value="{{item.Remove$::click}}">Remove</button>
                        </td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
                <tr >
                    <td colspan="2">
                        <select value="{{model.SelectedSystemUserGroupsID$::change}}" style="width:auto;display:inline;" class="form-control">
                            <option value="">Select Usergroup</option>
                            <template restamp="true" is="dom-repeat" items="{{model.SystemUserGroups }}">
                                <option value="{{item.Key}}">{{item.Name}}</option>
                            </template>
                        </select>
                        <button class="btn btn-default btn-sm" onclick="++this.value;" value="{{model.AddUserToGroup$::click}}">+ Add</button>


                    </td>
                </tr>
            </tfoot>
        </table>
       
       

        <table class="table table-bordered">
            <thead>
            <th>Projects/Tasks</th>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Activities}}">
                        <tr>
                            <td>
                                <input class="form-control" value="{{item.Name$::input}}"/>
                            </td>
                            

                        </tr>
                </template>
    
            </tbody>
            <tfoot>
                <tr>
                    <td><button class="btn btn-default btn-sm" value="{{model.AddActivityClick$::click}}" onmousedown="++this.value">Add activity</button></td>
                </tr>
            </tfoot>
    </table>

    

    

    
    <link is="puppet-redirect" history url="{{model.RedirectUrl$}}" />
</template>
</template>