﻿<template>
    <template is="dom-bind">
        <h4>Customers</h4>
        <table class="table table-bordered">
            <tbody>
                <template is="dom-repeat" items="{{model.Customers}}">

                    <tr>
                        <td>
                            <a href="/timereport/customers/{{item.Key}}">{{item.Name}}</a>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <a href="/timereport/customers/add" class="btn btn-primary">Add Customer</a>
        <link is="puppet-redirect" history url="{{model.RedirectUrl$}}" />
    </template>
</template>