﻿<link rel="import" href="/sys/polymer/polymer.html">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<template>
    <template id="root" is="dom-bind">
        
            <nav class="navbar navbar-inverse" style="margin:0">
                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="/timereport">
                            Timereport 
                        </a>

                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                         
                            
                            
                            <li>
                                <a href="/timereport/reports">INVOICE REPORTS</a>
                            </li>
                            <li>
                                <a href="/timereport/customers">SETTINGS</a>
                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a on-click="signOut" href="#">{{model.UserFullName}}</a></li>
                            

                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <starcounter-include partial="{{model.CurrentPage}}"></starcounter-include>
            </div>

        
       
    </template>
    <script>
        (function () {
            var script = document._currentScript || document.currentScript;
            var template = script.previousElementSibling;



            template.signOut = function (e) {
                //there has to be a more elegant solution than this to handle signout.
                document.querySelector("puppet-client").network.changeState("/signin/partial/signout");
                window.location.href = "/timereport";
            };


        })();
    </script>

</template>