﻿<link rel="import" href="/sys/moment-element/moment-element.html">
<template>
    <template is="dom-bind">
        <h4>Reports</h4>
        <p>
            <a class="btn btn-primary" href="/timereport/checkout">New Invoice Report</a>
        </p>
        <table class="table table-bordered">
            <tbody>
                <template is="dom-repeat" items="{{model.Reports}}">

                    <tr>
                        <td>
                            <a href="/timereport/reports/{{item.Key}}">{{item.Name}} ({{item.Key}})</a>
                        </td>
                        <td>
                            <moment-element datetime="{{item.CreatedDate}}" output-format="MMMM DD, YYYY"></moment-element>
                           
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        
        
        

    </template>
</template>