﻿<link rel="import" href="/sys/moment-element/moment-element.html">
<style>
    .checkout-table .customer TD {
        border-top:0 !important;
    }
</style>
<template>
    <template is="dom-bind">
        <h4>{{model.Name}}</h4>
        

        <h5>Timelog</h5>       
        <table id="checkouttable" class="checkout-table table">
            <tbody>
                <template is="dom-repeat" items="{{model.Customers}}" as="customer">
                    <tr class="customer" data-key$="[[customer.Customer.Key]]">
                        <td on-click="toggle" colspan="3">
                            <h4>{{customer.Customer.Name}}</h4>


                        </td>
                        <td class="text-right">
                            <h4>
                                {{customer.Hours}}h
                            </h4>

                        </td>
                        
                    </tr>
                    <template is="dom-repeat" items="{{customer.Activities}}" as="activity">
                        <tr data-key$="[[activity.Activity.Key]]" data-parent$="[[customer.Customer.Key]]">
                            <td on-click="toggle" style="padding-left:20px;" colspan="3">

                                {{activity.Activity.Name}}</i>


                            </td>
                            <td class="text-right">
                                {{activity.Hours}}h


                            </td>
                            
                        </tr>
                        <template is="dom-repeat" items="{{activity.Units}}">
                            <tr class="unitrow" data-parent$="[[activity.Activity.Key]]">


                                <td style="padding-left:40px;" colspan="3">
                                    <moment-element datetime="{{item.TimeStamp}}" output-format="YYYY-MM-DD"></moment-element>
                                    - {{item.OwnerFullName}}, {{item.Comment}}
                                </td>

                                <td class="text-right">
                                    {{item.Hours}}h
                                </td>
                                
                            </tr>
                        </template>
                    </template>
                </template>
            </tbody>
        </table>


    </template>
</template>