﻿<link rel="import" href="/sys/polymer/polymer.html">
<link rel="import" href="/sys/juicy-select/juicy-select.html" />
<link rel="import" href="/sys/moment-element/moment-element.html">
<style>
    .classname {
        border: 1px solid red !important;
    }
    .timeinput {
        border: 1px solid #eee !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        font-family: 'Roboto Mono', monospace;
    }
    
    .commentinput {
        
        z-index: 100;
            display:none;
    }
    .commentinput textarea {
        height:100px;
    }
    .hourlabel{
        display:none;
    }
    .focus {
        position: absolute;
    }
        .focus .hourlabel{
            display:inline;
        }
        .focus .commentinput {
            display: block;
        }
        .focus .focus-inner {
            width: 200px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(217, 221, 205);
            padding: 10px;
            position: relative;
            top: -12px;
            left: -11px;
            border-radius: 0px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
        }
    .datecol {
        width:80px !important;
    }
    .weekend {
        background-color:#fafafa;
    }
    .timeinput {
        display:inline;
        border: 1px solid #eee !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        font-family: 'Roboto Mono', monospace;
        padding:10px !important;
    }
    .timeinput[disabled]{
        background-color:#efefef;
        color:#CCC !important;
    }
    .number {
        font-family: 'Roboto Mono', monospace;
    }
    .comment {
        display:block;
        border: 1px solid #eee !important;
        padding: 10px !important;
        font-size:12px !important;
        line-height:13px;
    }
   
    .totalrow, .totalcolumn {
        background-color: #efefef;
    }
    td.totalcolumn {
        width:80px !important;
    }
        td.totalcolumn, .totalrow td {
            padding-right: 13px !important;
        }
    select, juicy-select {
        width: 100% !important;
    }
    .weektitle {
        font-size:20px;
        font-weight:bold;
    }
</style>
<template>
    <template is="dom-bind">

        <h4>Timeentry</h4>   
        
        <a class="btn btn-xs btn-default pull-left" href="{{model.PreviousPageUrl}}">Previous Week</a>
        <a class="btn btn-xs btn-default pull-right" href="{{model.NextPageUrl}}">Next Week</a>
        <div class="text-center weektitle">
            <moment-element datetime="{{model.FirstDayOfWeek}}" output-format="MMMM DD"></moment-element>
            -
            <moment-element datetime="{{model.LastDayOfWeek}}" output-format="MMMM DD, YYYY"></moment-element>
        </div>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Project/Task</th>
                    <template is="dom-repeat" items="{{model.Days}}">
                        <th>
                            <moment-element datetime="{{item}}" output-format="ddd D"></moment-element>
                           
                        </th>
                    </template>
                    <th class="text-right totalcolumn">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Rows}}">
                    <tr>
                        <td class="selectcol">
                            <template is="dom-if" if="{{item.Locked}}">
                                {{item.Customer.Name}}


                            </template>
                            <template is="dom-if" if="{{!item.Locked}}">

                                <juicy-select caption-text="" value="{{item.SelectedCustomerKey$::change}}" options="{{model.SystemCustomers}}" text-property="Name" value-property="Key"></juicy-select>




                            </template>

                        </td>
                        <td class="selectcol">
                            <template is="dom-if" if="{{item.Locked}}">
                                {{item.Activity.Name}}


                            </template>
                            <template is="dom-if" if="{{!item.Locked}}">

                                <juicy-select caption-text="" value="{{item.SelectedActivityKey$::change}}" options="{{item.Activities}}" text-property="Name" value-property="Key"></juicy-select>



                            </template>





                        </td>
                        <template is="dom-repeat" items="{{item.Units}}">
                            <td class$="{{dateColClass(item.IsWeekend)}}">

                                
                                <div class="">
                                    <div on-click="cancelBubble" class="focus-inner">

                                        <input disabled$="[[item.CheckedOut]]" on-focus="focusThis" on-keydown="keyDown" value="{{item.Hours$::change}}" type="text" style="width:60px;" class="timeinput text-right form-control">
                                        <span class="hourlabel"> hours</span>
                                        <div class="commentinput">

                                            <textarea style="margin-top:2px;" value="{{item.Comment$::change}}" class="comment form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </template>
                        <td class="number text-right totalcolumn">
                            {{item.Total}}
                        </td>
                    </tr>

                </template>
            </tbody>
                <tfoot class="totalrow">
                <tr class="">
                    <td colspan="2"><button class="btn btn-xs btn-primary" value="{{model.NewRowTrigger$::click}}" onmousedown="++this.value">Add new row</button></td>
                    <template is="dom-repeat" items="{{model.ColumnTotals}}">
                        <td class="number text-right">


                            {{item}}
                        </td>
                    </template>


                </tr>
                </tfoot>
            
        </table>


    </template>
    <script>
         var script = document._currentScript || document.currentScript;
         var template = script.previousElementSibling;
         var previousFocus;
         template.dateColClass = function (weekend) {
             if (weekend) {
                 return "datecol weekend";
             }
             return "datecol";
         }
         template.cancelBubble = function (e) {
             e.stopPropagation();
         };
         /* silly workaround to force a text input behave as a number input. We are using text input becasue number property isn't nullable in backend and we dont want a lot of zeroes... Must be a better solution...*/
         template.keyDown = function (e) {
             if (!isNaN(e.key) || ["ArrowRight", "ArrowLeft", "Tab", ".",",", "Backspace"].indexOf(e.key) > -1) {
                 return true;
             }
             e.preventDefault();
             return false;
             
             
         }
         template.focusThis = function (e) {
             template.blur();
             e.target.parentElement.parentElement.classList.add('focus')
             previousFocus = e.target;
             document.addEventListener('click', template.windowblur)
         };
         template.windowblur = function (e) {
             if (e == undefined) { return; }
             template.blur();
         }
         template.blur = function (e) {
             
             document.removeEventListener('click', template.windowblur)
             if (previousFocus) {
                 previousFocus.parentElement.parentElement.classList.remove('focus')
             }

         };
         
    </script>
    
</template>
